@import url('https://fonts.googleapis.com/css?family=Codystar');


body {
     margin: 0;
     background-color: black;
    color: white;
}

header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("images/BP.jpg") no-repeat center;
    background-size: cover;
    min-height: 750px;
    min-width: 1310px;
    padding: 50px;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

nav {position: fixed;
    text-decoration: none;
    text-align: right;
    width: 85%;
    list-style-type: none;
}

#name {
  text-align: left;
    border: 2px;
}

#menu {
    position:fixed;
    top:0px;
    width:100%;
    height:75px;
    background-color:#DDDDDD;
    color: #FFFFFF;
    z-index:9999;
    display: none;
}

#cvmenu { margin:0 0 0 0; }

#cvmenu ul { list-style:none; }

#cvmenu ul li {
    display:inline;
    float:left;
    margin-bottom:20px; }

#cvmenu ul li a {
    padding:20px;
    background: rgba(215, 211, 224, 0.3);
    text-decoration: none;
    font: bold 20px calibri, Sans-Serif;
    letter-spacing: 1px;
    color: white;
    text-shadow: #ffb955 3px 0px 4px; }

#cvmenu ul li:first-child a {
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius:12px; }

#cvmenu ul li:last-child a {
    -moz-border-radius-topright: 12px;
    -webkit-border-top-right-radius:12px; }

#cvmenu ul li a:hover {
    -moz-box-shadow: 0 -5px 10px #777;
    -webkit-box-shadow: 0 -5px 10px #f6f2ff;
    background: -webkit-gradient(
            linear, right bottom, left top, color-stop(0, rgb(255, 185, 85)), color-stop(0.72, rgb(255, 173, 10))) !important;
    background: -moz-linear-gradient(
            right bottom, rgb(255, 173, 10) 0%, rgb(255, 185, 85) 72%) !important;
    background-color: rgb(255, 185, 85) !important;
    -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; }

#cvmenu ul li a.active { background: rgba(101, 93, 97, 0.8) !important; }

#cvmain {
    margin-left: 40px;
    clear:both;
    background: rgba(2, 3, 6, 0.6);
    width:788px;
    min-height: 500px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-right-radius:12px;
    -webkit-border-bottom-left-radius:12px;}

#cvmain h3 {
    text-transform:uppercase;
    padding:20px 0px 0px 30px;
    text-align: left;
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
    text-shadow: #ffb955 5px 0px 4px;
}
#cvmain p {
    padding-bottom:20px;
    padding-left: 30px;
    color:white; }

#cvbox {
    margin-left: 35%;
    margin-top: 50px;
}

#contactbox {
    margin-left: 2%;
}

#aboutme {
    margin: 30px;
    text-align: justify;
}


table {
    padding-left: 20px;
    padding-bottom: 5px;
}

table th {
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
}

table td {
    text-align: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.contact {
    font-size: 20px;
    text-align: left;
    color: white;

}

#cvmain .contact p {
    padding-bottom: 0px;
}

#cvmain .form {
    padding-left: 30px;
    text-align: left;
    clear: both;
    max-width: 50px;

}

#cvmain .form p {
    min-width: 250px;
    font-size: 18px;
    padding: 0px;
    color: white;}

input {
    width: 35em;
    margin-top: 3px;

}

input[type='submit'] {
    width: 60px;
    text-align: center;
    float: left;
}

.message {height: 100px;}

footer {
    clear: both;
    height: 50px;
    background-color: #101c31;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
    color: black;
    font-weight: bolder;
}
