<meta charset="UTF-8">
<div id="contactbox">
<div class="contact">
        <p>Johan Vahter</p>
        <p>Tel: +372 5884 4428</p>
        <p>E-mail: johan.vahter@gmail.com<p>
    </div>
    <div class="form">
        <p>Võib ka siia kirjutada!</p>
        <form method="post" action="?cmd=send">
            <input name="name" placeholder="Nimi" required/>
            <input name="phone" placeholder="Number" required/>
            <input name="email" placeholder="E-mail" required/>
            <input class="message" name="message" placeholder="Sõnum" required/>
            <input name="submit-button" type="submit" value="Saada" />
        </form>
    </div>
</div>
