<meta charset="UTF-8">
<table>
    <thead>
    <tr>
        <th>
            Nimi:
        </th>
        <th>
            Johan Vahter
        </th>
    </tr>
    <tr>
        <th>
            Vanus:
        </th>
        <th>
            29
        </th>
    </tr>
    <tr>
        <th>
            Sugu:
        </th>
        <th>
            Mees
        </th>
    </tr>
    <tr>
        <th>
            Rahvus:
        </th>
        <th>
            Eestlane
        </th>
    </tr>
    <tr>
        <th>
            Elukoht:
        </th>
        <th>
            Tallinn
        </th>
    </tr>
</table>

