<table>
    <thead>
    <tr>
        <th>
            Aastad
        </th>
        <th>
            Asutus
        </th>
        <th>
            Haridus
        </th>
    </tr>
    </thead>
    <tbody>
        <tr tpl-foreach="$info as $entry">
        <td>
            {{ $entry->years }}
        </td>
        <td>
            {{ $entry->institution }}
        </td>
        <td>
            {{ $entry->education }}
        </tr>
    </tbody>
</table>