<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>CV Johan Vahter</title>
</head>
<header class="banner">
    <div id="cvbox">
        <div id="cvmenu">
            <ul>
                <li><a href="?cmd=view" title="Hobid">Andmed</a></li>
                <li><a href="?cmd=education" title="Haridus">Haridus</a></li>
                <li><a href="?cmd=job" title="Töökogemus">Töökogemus</a></li>
                <li><a href="?cmd=skills" title="Oskused">Oskused</a></li>
                <li><a href="?cmd=about" title="Endast">Endast </a></li>
                <li><a href="?cmd=contact" title="Kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div id="cvmain">
            <h3>{{ $heading }}</h3>
            <div tpl-include="{{ $content }}"></div>
        </div></div>
</header>
</html>