<meta charset="UTF-8">
<table>
    <thead>
        <th>
            KEELED:
        </th>
        <th>

        </th>
        <th>
            PROGRAMEERIMISKEELED:
        </th>
    <tr>
        <th>
           Keel
        </th>
        <th>
            Tase
        </th>
        <td>
            Python, CSS, PHP, HTML, SQL, Java(õpin), Javascript(õpin)
        </td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
             Eesti
            </td>
            <td>
                Emakeel
            </td>
             <td>

             </td>
        </tr>
        <tr>
            <td>
                Inglise
            </td>
            <td>
                Väga hea nii kõnes kui kirjas
            </td>
        </tr>
        <tr>
            <td>
                Vene
            </td>
            <td>
                Keskmine kõnes, kehv kirjas
            </td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <th>
            LOAD:
        </th>
    </thead>
    <tbody>
        <tr><td>B-kategooria alates 2006</td></tr>
    </tbody>
</table>
<table>
    <thead>
    <th>
        KASULIK:
    </th>
    </thead>
    <tbody>
    <tr><td>Mercedes-Benzi sertifikaat müügis</td></tr>
    <tr><td>Väga palju kogemusi kliendi vajaduste välja selgitamises</td></tr>
    <tr><td>Veebilehtede tegemise väike kogemus ( tehtud: www.dmgauto.ee ja hetkel teen: www.proberry.ee )</td></tr>
    </tbody>
</table>