<meta charset="UTF-8">
<table>
    <thead>
    <tr>
        <th>
            Aeg
        </th>
        <th>
            Ettevõte
        </th>
        <th>
            Amet
        </th>
        <th>
            Töökohustused
        </th>
    </tr>
    </thead>
    <tbody>
        <tr tpl-foreach="$info as $entry">
        <td>
            {{ $entry->years }}
        </td>
        <td>
            {{ $entry->institution }}
        </td>
        <td>
            {{ $entry->job }}
        </td>
        <td>
            {{ $entry->work }}
        </tr>
    </tbody>
</table>